html.full-page {
  height: 100%;
  position: relative;

  body {
    height: 100%;
    position: relative;
  }
}

main.tutorial {
  position: absolute;
  top: @body-padding;
  bottom: 0;
  left: 0;
  right: 0;

  .jsbin-container {
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  article {
    img {
      max-width: 100%;
      display: block;
      margin: 20px auto 30px auto;
      .box-shadow(~"0 0 8px rgba(0,0,0,0.5)");
    }

    h1 {
      .page-header();
    }

    h2 {
      margin-top: 40px;
      padding-top: 30px;
      border-top: 3px dashed #DDD;
    }

    .embed-visualization {
      border: 1px solid #eee;
      max-width: 100%;
      margin: 30px auto;
      display: block;
    }

    .back-button {
      display: block;
      margin: 75px auto;
      width: 220px;
    }
  }

  @tutorial-label-height: 31px;
  .tutorial-label {
    position: absolute;
    height: @tutorial-label-height;
    top: 0;
    left: 0;
    width: 100%;

    text-align: center;

    background: #EDEDED;
    border-bottom: #BFBFBF solid 1px;
    line-height: @tutorial-label-height;
  }

  .jsbin-placeholder {
    background-color: @well-bg;
    height: 100%;

    .lead {
      text-align: center;
      position: relative;
      top: 50%;
      margin: 0;
      color: lighten(@text-color, 20%);
    }
  }

  pre[class*="language-"] {
    margin: 20px 0;
  }

  .split-panel {
    height: 100%;

    //Settings for the splitter
    &.splitter_panel {
      .left-col {
        overflow-y: hidden;

        > .container-fluid {
          overflow: auto;
          position: absolute;
          margin: 0;
          top: @tutorial-label-height;
          bottom: 0;
          left: 0;
          right: 0;
        }
      }

      .right-col > .container-fluid {
        padding: 0;
      }

      .vsplitter {
        background-color: @navbar-default-bg;
        border: 1px solid @navbar-default-border;
        width: 8px;
      }

      //Overrides for prism's styles
      pre[data-line] {
        padding: 1em;
      }

      .line-highlight:before,
      .line-highlight[data-end]:after {
        content: normal;
        display: none;
      }

      .line-highlight[data-end]:after {
        content: normal;
        display: none;
      }
    }

    //For the jsbin buttons
    .jsbin-button {
      display: block;
      margin: 20px 20px;
    }
  }

  .tutorial-nav {
    display: none;
  }
}
