doctype html
html
    head
        != partial("_partials/head")

    body

        header
            != partial("_partials/header")

        main
            != yield

        != partial("_partials/foot")
